<html>
    <body>
        <img src="http://185.51.67.30/images/topflavon_logo.png" />
        <h3>Tisztelt $userName!</h3>
        <p>Ön jelszó visszaállítást kért $applicationName alkalmazásához!</p>
        <p>Az alábbi linkre kattintva adhatja meg új jelszavát:</p>
        <p><a href="$passwordResetLink">$passwordResetLink</a></p>
        <p>Üdvözlettel $organizationName!</p>
    </body>
</html>